# C++ objects and libs
*.trace
*.gen.h
*.refl.h
tmp
*.exe
**.slo
**.lo
*.obj
*.o
*.obj
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.cfg
.donePreprocess
callgrind.*
nohup.out
bin/*
cov-int
Bang.tgz

# Visual Studio
DependenciesProjects/freealut-1.1.0/Alut/.vs/*
DependenciesProjects/freealut-1.1.0/Alut/x64
DependenciesProjects/freealut-1.1.0/Alut/Alut/x64
*.vcxproj.filters
*.vcxproj.user
*.db
*.opendb
*.swp
.vs/*


# CMake
*CMakeCache.txt
*CMakeFiles/*
objs*/*
build/*

# Qt-es
ui_*
src/Qt_MOCs/*
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*build*
*cache*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*


# Freetype
!include/freetype/*.h
include/freetype/ftcache.h

